@model List<Video>

@if (Model.Any())
{
    <section class="section section_video">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-title">
                        <h2><span>VIDEO</span>&nbsp;NỔI BẬT</h2>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="video-wrapper owl-carousel owl-theme owl-loaded animated" data-animate="fadeInUp">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                @foreach (var item in Model)
                                {
                                    var uri = new Uri(item.YouTubeURL);
                                    var idVideo = System.Web.HttpUtility.ParseQueryString(uri.Query).Get("v");

                                    <div class="owl-item">
                                        <div class="item-video">
                                            <div class="block-thumb">
                                                <a class="thumb" href="@item.YouTubeURL" data-fancybox="gallery">
                                                    <img class="lazyload loaded"
                                                         src="@(string.IsNullOrEmpty(item.Thumbnail)
                                                         ? $"https://img.youtube.com/vi_webp/{idVideo}/hq720.webp"
                                                         : item.Thumbnail.ToHostImage())?w=600"
                                                         alt="@item.Title" />

                                                    <div class="icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                                            <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"></path>
                                                        </svg>
                                                    </div>
                                                </a>
                                                <div class="time-duration"><span>@item.Duration</span></div>
                                            </div>
                                            <div class="block-content">
                                                <h3 class="line-clamp line-clamp-2">
                                                    @item.Title
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
